html {
  height: 100%;
  width: 100%;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bg-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.blur-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0,0,0, 0.5);
  backdrop-filter: blur(5px);

  z-index: 1;
}

.center-band {
  color: #004200;
  background: linear-gradient(to left, #369900, #00e01a);
  display: block;
  padding: 10px;

  text-align: center;

  width: 100%;

  font-weight: 600;

  font-size: 20px;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  z-index: 10;
}
